<h1>New account</h1>

<h2>Current Producs</h2>
<% @products.each do |product| %>
	<h2><%= product.name %></h2>
	<p><%= product.description %></p>	
<% end %>

<%= render 'form' %>

<%= link_to 'Back', accounts_path %>
